$primary-color: #333;
$secondary-color: #f5f5f5;
$head-font: "Playwrite CU", cursive;
$body-font: "Josefin Sans", sans-serif;

body {
  font-family: $body-font;
}

header {
  background: $primary-color;
  color: $secondary-color;
  padding: 10px 20px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-family: $head-font;
      font-size: 1.5em;
    }

    .nav-links {
      display: none;

      &:active {
        display: block;
        cursor: pointer;
        margin-left: auto;
        padding: 10px;
        fill: currentColor;
      }
    }

    .icons {
      display: flex;
      align-items: center;

      .icon-profile,
      .icon-search,
      .icon-location,
      .icon-cart,
      .icon-burger {
        margin-left: 15px;
        cursor: pointer;
        display: none;
      }

      .icon-burger {
        display: block;
      }
    }
  }
}

main {
  .hero {
    .glide {
      width: 100%;

      .glide__slide img {
        width: 100%;
        height: auto;
      }
    }
  }

  .featured-products {
    padding: 20px;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .product {
      width: 100%;
      margin: 1.5%;

      img {
        width: 100%;
        height: auto;
      }

      p {
        text-align: center;
        margin-top: 10px;
      }
    }
  }

  .maps {
    padding: 20px;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    #address-input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 1em;
    }

    #map {
      width: 100%;
      height: 400px;
      background: #eee;
    }
  }
}

footer {
  background: $primary-color;
  color: $secondary-color;
  padding: 20px;

  .topFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // font-size: smaller;

    .footer-nav {
      text-align: center;

      ul {
        list-style: none;
        display: flex;
        justify-content: center;

        li {
          margin: 0 15px;

          a {
            color: $secondary-color;
            text-decoration: none;
          }
        }
      }
    }
  }

  .social-media {
    text-align: center;
    margin: 20px 0;

    a {
      margin: 0 10px;
      color: $secondary-color;
      text-decoration: none;

      .icon-facebook,
      .icon-x,
      .icon-instagram {
        font-size: 1.5em;
      }
    }
  }

  .location-hours {
    text-align: center;
    margin: 10px 0;
  }

  .subscription {
    margin-top: 1.5em;
    text-align: center;

    input {
      padding: 10px;
      font-size: 1em;
      width: 70%;
      margin-right: 10px;
    }

    button {
      padding: 10px;
      font-size: 1em;
    }
  }

  .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  header nav {
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

    .nav-links {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;

      li {
        margin: 0 15px;

        a {
          color: $secondary-color;
          text-decoration: none;
        }
      }
    }

    .icons {

      .icon-profile,
      .icon-search,
      .icon-location,
      .icon-cart {
        display: block;
      }

      .icon-burger {
        display: none;
      }

    }
  }

  main {
    .featured-products {
      .product {
        display: inline-block;
        width: 30%;
        margin: 1.5%;
      }
    }
  }

  footer {
    .topFooter {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
}